/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  min-height: 0;
}

/* The whole bar */
window#waybar {
  background: #2e3440; 
  color: #eceff4; 
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 2px 5px 0 5px;
  margin-bottom: 8px;
}

#custom-nix {
  padding: 0px 8px;
  font-size: 18px;
  background-color: transparent;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#language,
#bluetooth,
#mic,
#sound {
    padding: 1px 10px;
    background-color: transparent;
}

#clock { 
  background-color: #4c566a;
}

#pulseaudio { 
  background-color: #4c566a; 
}
#network { 
  background-color: #4c566a; 
}
#cpu { 
  background-color: #4c566a; 
}
#memory { 
  background-color: #4c566a; 
}

/* Battery animation preserved */
#battery.critical:not(.charging) {
    border-color: #cc241d;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        border-color: #99bce2;
    }
}

#workspaces button {
    padding: 0 5px;
    /* margin: 2.5 2px; */
    background-color: transparent;
    color: #eceff4;
    font-family: "Noto Sans JP", "JetBrainsMono Nerd Font";
}

#workspaces button:hover {
    background: #434c5e;
}

#workspaces button.active {
    background-color: #4c566a;
}

#workspaces button.urgent {
    background-color: #bf616a;
}

