/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  min-height: 0;
}

/* The whole bar */
window#waybar {
  background: #282828; 
  color: #ebdbb2; 
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 2px 5px 0 5px;
  margin-bottom: 8px;
}

#image {
  margin-left: 5px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#language,
#bluetooth,
#mic,
#sound {
    padding: 1px 10px;
    background-color: transparent;
}

#clock { 
  color: #282828;
  background-color: #83a598;
}

#pulseaudio { 
  background-color: #3c3836; 
}
#network { 
  background-color: #504945; 
}
#cpu { 
  background-color: #665c54; 
}
#memory { 
  background-color: #7c6f64; 
}
#battery { 
  color: #282828;
  background-color: #fabd2f;
}

/* Battery animation preserved */
#battery.critical:not(.charging) {
    border-color: #cc241d;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        border-color: #99bce2;
    }
}

#workspaces button {
    padding: 0 5px;
    /* margin: 2.5 2px; */
    background-color: transparent;
    color: #ebdbb2;
    font-family: "Noto Sans JP", "JetBrainsMono Nerd Font";
}

#workspaces button:hover {
    background: #3c3836;
}

#workspaces button.active {
    color: #282828;
    background-color: #98971a;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

