* {
    bg-col: #2e3440;
    bg-col-light: #2e3440;
    border-col: #81a1c1;
    selected-col: #4c566a;
    green: #98971A;
    fg-col: #FBF1C7;
    fg-col2: #EBDBB2;
    grey: #BDAE93;
    highlight: @green;
}
